    $bobble-1-icon: 59px 92px -59px -92px 53px 39px 211px 140px '../images/sprite.png';
    $bobble-2-icon: 0px 92px 0px -92px 44px 48px 211px 140px '../images/sprite.png';
    $bobble-3-icon: 158px 0px -158px 0px 53px 39px 211px 140px '../images/sprite.png';
    $includes-icons: 158px 100px -158px -100px 26px 24px 211px 140px '../images/sprite.png';
    $nav-arrow-icon: 158px 54px -158px -54px 31px 31px 211px 140px '../images/sprite.png';
    $pink-large-arrow-icon: 0px 0px 0px 0px 77px 77px 211px 140px '../images/sprite.png';
    $pink-small-arrow-icon: 92px 0px -92px 0px 51px 51px 211px 140px '../images/sprite.png';
