.facilities-page-screen{
	h1{
		font-size: 70px;
		font-family: $avenir_mb;
		line-height: 70px;
		padding: 0 0 28px;
		margin: 0 0 29px;
		position: relative;
		text-transform: uppercase;
		&:before {
			display: block;
			content: ' ';
			width: 38px;
			height: 1px;
			background: #ec3c40;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -19px;
		}
	}
	.home_screen{
		padding-bottom: 146px;
		text-align: center;
		font-size: 20px;
		font-family: $avenir_rr;
		line-height: 30px;
		margin: 0 auto;
		&>.td{
			vertical-align: bottom;
		}
		div.animate_up{
			max-width: 580px;
			margin: 0 auto;
		}
	}
	.screen_btns{
		padding-top: 160px;
		.animate_up{
			display: inline-block;
		}
	}
}
.page-template-it-services{
	.facilities-page-screen{
		.td{
			vertical-align: middle;
		}
	}
}
.workshop_btn{
	display: block;
	font-size: 20px;
	line-height: 24px;
	height: 138px;
	width: 138px;
	padding: 0;
	margin: 0 20px;
	font-family: $avenir_rh;
	-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
	border-radius: 100%;
	border: 2px solid #fff;
	&.active{
		border-color: $red;
	}
}
.round_nav, .animate_faded.round_nav {
	position: absolute;
	top: 122px;
	left: 50px;
}
.round_nav {
	z-index: 9999;
}
.rn_animate_fade {
	opacity: 0;
	@include transition(all 6s cubic-bezier(.19,1,.22,1));
}
.rn_animate_faded {
	opacity: 1;
}
.round_nav_inner {
	width: 60px;
	height: 64px;
	position: relative;
}
.round_nav_icon {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.round_nav_icon [class^="icon-"], .round_nav_icon [class*=" icon-"] {
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}
.round_nav_inner_box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include transition(all .6s cubic-bezier(.19,1,.22,1));
}
.round_nav_inner{
	span{
		display: block;
		width: 15px;
		height: 15px;
		border: 2px solid #fff;
		position: absolute;
		border-radius: 100%;
		overflow: hidden;
		@include transition(all 1s cubic-bezier(.19,1,.22,1));
		&.round_nav_active {
			background: #fff;
			@include transition(all 1s cubic-bezier(.19,1,.22,1));
		}
		&.round_nav_1{
			top: 0;
			left: 50%;
			margin-left: -7px;
		}
		&.round_nav_2 {
			top: 12px;
			right: 0;
		}
		&.round_nav_3 {
			bottom: 12px;
			right: 0;
		}
		&.round_nav_4 {
			bottom: 0;
			left: 50%;
			margin-left: -7px;
		}
		&.round_nav_5 {
			bottom: 12px;
			left: 0;
		}
		&.round_nav_6 {
			top: 12px;
			left: 0;
		}
	}
}
.round_nav:hover .round_nav_inner_box {
	@include transform(rotateZ(30deg));
}
.round_nav_ul {
	position: absolute;
	top: 100%;
	width: 68px;
	-webkit-transition: opacity 1.5s cubic-bezier(.19,1,.22,1);
	transition: opacity 1.5s cubic-bezier(.19,1,.22,1);
	padding: 12px 0 0 0;
	left: -9999px;
	opacity: 0;
	li {
		margin: 20px 0 0 0;
		a {
			display: block;
			height: 68px;
			border: 2px solid #fff;
			border-radius: 100%;
			position: relative;
			br{
				display: none;
			}
			&:after,
			&:before{
				display: block;
				content: ' ';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				@include transition(all 1s cubic-bezier(.19,1,.22,1));
			}
			&:before{
				background: #ab081a;
				border-radius: 100%;
			}
			&:hover{
				&:after,
				&:before{
					opacity: 1;
				}
			}
			span {
				color: #fff;
				font-size: 20px;
				font-family: $avenir_mb;
				line-height: 28px;
				padding: 20px 0;
				display: block;
				position: absolute;
				top: 0;
				left: 100%;
				height: 100%;
				@include transition(all 1s cubic-bezier(.19,1,.22,1));
				margin-left: 26px;
				opacity: 0;
				width: 250px;
			}
		}
	}
	[class^="icon-"],
	[class*=" icon-"]{
		font-size: 40px;
		left: 50%;
		margin: -20px 0 0 -20px;
		position: absolute;
		top: 50%;
	}
}
.round_nav:hover .round_nav_ul {
	left: 0;
	opacity: 1;
}
.round_nav_ul li a:hover span {
	margin-left: 13px;
	opacity: 1;
}
/* WORKSHOP PAGE */
.work_shops {
	position: relative;
}
.work_shops.four-tile .work_shops_tile {
	float: left;
	width: 25%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.work_shop {
	color: #fff;
	font-size: 20px;
	font-family: 'avenir_lt_55_romanroman';
	line-height: 38px;
	height: 1080px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	&:hover{
		cursor: pointer;
	}
	&:before{
		display: block;
		content: ' ';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.title {
		width: 26.14%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 78px;
		h2 {
			color: #fff;
			font-size: 40px;
			font-family: $avenir_mb;
			line-height: 52px;
			text-transform: uppercase;
		}
	}
	.text {
		width: 73.86%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 158px 0 78px;
		&:before {
			display: block;
			content: ' ';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: #000;
			opacity: .65;
		}
		h3 {
			color: #fff;
			font-size: 24px;
			font-family: $avenir_rh;
			line-height: 32px;
			text-transform: uppercase;
		}
		&:after{
			display: block;
			content: ' ';
			width: 72px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 100%;
			background: url(../images/work_shop_arr.png) no-repeat 0 50%;
		}
	}
	ul li {
		padding: 0 0 0 28px;
		background: url(../images/li.png) no-repeat 0 15px;
	}
	.text_inner {
		position: relative;
	}
}
.work_shops:after{
	content: '';
	display: block;
	clear: both;
}
.work_shops.four-tile .title {
	width: 100%;
}
.work_shops_tile .work_shop:before {
	background: #000;
	opacity: .6;
}
.work_shops.four-tile .work_shops_tile:hover .work_shop:before, .work_shops.four-tile .work_shops_tile .work_shop:before {
	@include transition(top 1s ease-out 0.5s);
}
.work_shops.four-tile .work_shops_tile:hover .work_shop:before {
	opacity: 0.2;
}
.work_shops_close {
	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 80px;
	right: 80px;
}
.flex-direction-nav a.flex-prev {
	left: 70px;
	background: url(../images/slider_prev.png) no-repeat 50% 50%;
}
.flex-direction-nav a.flex-next {
	left: 131px;
	background: url(../images/slider_next.png) no-repeat 50% 50%;
}
.work_shops .flex-direction-nav a.flex-prev {
	left: auto;
	right: 141px;
	bottom: 80px;
	margin: 0;
}
.work_shops .flex-direction-nav a.flex-next {
	left: auto;
	right: 80px;
	bottom: 80px;
	margin: 0;
}
.work_shops{
	.flex-direction-nav a {
		position: absolute;
		display: block;
		cursor: pointer;
		text-indent: -9999px;
		overflow: hidden;
		white-space: nowrap;
		opacity: 1;
		width: 43px;
		height: 43px;
		bottom: 88px;
		top: auto;
		margin: 0 0 -59px -39px;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
	}
	.flex-control-nav{
		display: none;
	}
}
///Backlots
.page-template-backlots-page{
	.facilities-page-screen{
		.home_screen div.animate_up{
			max-width: 100%;
		}
		.screen_btns{
			padding-top: 123px;
		}
	}
}
.page-template-marine-page{
	.screen_btns{
		padding-top: 46px;
	}
}

// Marine
.page-template-marine-page{
	.fl_specs{
		&:after{
			content: '';
			display: block;
			clear: both;
		}
		h2{
			&:after, &:before{
				display: none;
			}
		}
	}
	.block {
		color: #333;
		font-size: 20px;
		font-family: $avenir_rr;
		line-height: 30px;
		text-shadow: none;
		background: #f3f3f3;
		h2{
			color: #000;
			font-size: 70px;
			font-family: $avenir_mb;
			line-height: 70px;
			text-shadow: none;
			text-align: center;
			text-transform: uppercase;
			position: relative;
			padding: 0 0 28px;
			margin: 0 0 23px;
			&:before {
				display: block;
				content: ' ';
				width: 38px;
				height: 1px;
				position: absolute;
				bottom: 0;
				left: 50%;
				background: #ec3c40;
				margin-left: -19px;
			}
		}
		.block_inner{
			padding: 38px 0 40px 0;
		}
		&.block_1 .block_inner {
			text-align: center;
			max-width: 1280px;
			margin: 0 auto;
		}
		&.block_2{
			color: #ab081a;
			font-size: 25px;
			font-family: $avenir_mb;
			line-height: 30px;
			text-align: center;
			background: #fff;
			.block_inner{
				padding: 38px 20px 65px;
				max-width: 1680px;
				margin: 0 auto;
			}
			img {
				display: block;
				margin: 0 auto 20px;
			}
			ul {
				margin: 0 -20px;
				padding: 20px 0 0 0;
				&:after{
					content: '';
					display: block;
					clear: both;
				}
				li {
					width: 25%;
					margin: 0 0 20px 0;
					padding: 0 20px;
					float: left;
					&.no_ml{
						margin-left: 0;
						clear: both;
					}
				}
			}
		}

	}
}
.fl_specs .img, .fl_specs .text {
	width: 50%;
	height: 540px;
	float: left;
}
.fl_specs .img_text {
	position: relative;
	height: 100%;
}
.fl_specs .img {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding: 0 94px;
	position: relative;
}
.fl_specs .text {
	padding-left: 64px;
	padding-right: 62px;
}
.specs_table {
	margin: 0 0 20px;
}

.three_cols{
	ul{
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
	ul li {
		width: 33.333%;
		float: left;
		position: relative;
		height: 808px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
	.text {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:before {
			display: block;
			content: ' ';
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #000;
			opacity: .5;
		}
	}
	.text_box {
		color: #fff;
		font-size: 40px;
		font-family: $avenir_mb;
		line-height: 52px;
		text-align: center;
		text-transform: uppercase;
		padding: 20px 20px;
		position: relative;
		&:before {
			display: block;
			content: ' ';
			width: 38px;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 50%;
			background: #ec3c40;
			margin-left: -19px;
		}
	}
	.three_cols_subtitle {
		text-shadow: none;
		text-align: center;
		color: #fff;
		margin-top: 30px;
		font-family: $avenir_ll;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
.specs_table {
	margin: 0 0 20px;
	width: 100%;
	th {
		color: #323231;
		font-size: 20px;
		font-family: $avenir_ll;
		line-height: 28px;
		text-align: center;
		text-shadow: none;
		padding: 10px 10px;
		text-transform: uppercase;
	}
	td {
		color: #323231;
		font-size: 14px;
		font-family: $avenir_ll;
		line-height: 28px;
		text-align: center;
		text-shadow: none;
		background: #e9eaeb;
		padding: 0 10px;
		border: none;
		border-bottom: 4px solid #fff;
		sup {
			font-size: 12px;
		}
	}
	td.red_td {
		color: #fff;
		background: #fff;
		padding: 0;
		position: relative;
		width: 230px;
		text-transform: uppercase;
		&:before {
			display: block;
			content: ' ';
			width: 20px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: #e9eaeb;
			z-index: 111;
		}
		&:after {
			display: block;
			content: ' ';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: #aa2128;
			border-radius: 20px;
			z-index: 111;
		}
	}
	.red_td_div {
		position: relative;
		z-index: 222;
	}
}

// Backlots
.hws {
	color: #fff;
	font-size: 20px;
	font-family: $avenir_rr;
	line-height: 30px;
	text-align: center;
	ul:after{
		content: '';
		display: block;
		clear: both;
	}
	ul li {
		width: 50%;
		float: left;
		position: relative;
	}
	img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.img {
		position: relative;
		&:before {
			display: block;
			content: ' ';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: #000;
			opacity: .5;
		}
	}
	.text {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	h3 {
		color: #fff;
		font-size: 40px;
		font-family: $avenir_mb;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		padding: 0 0 24px;
		margin: 0 0 24px;
		position: relative;
		&:before {
			display: block;
			content: ' ';
			width: 38px;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -19px;
			background: #ab081a;
		}
	}
	.desc {
		max-width: 548px;
		margin: 0 auto;
	}
}
.red_cols {
	color: #ab081a;
	font-size: 20px;
	font-family: $avenir_mb;
	line-height: 26px;
	text-align: center;
	text-shadow: none;
	background: #f3f3f3;
	padding: 75px 0 17px;
}
.red_cols_inner {
	max-width: 1155px;
	margin: 0 auto;
}
.red_cols_inner, .red_cols_ul {
	position: relative;
}
.red_cols_inner:before, .red_cols_ul:before, .red_cols_ul:after {
	display: block;
	content: ' ';
	width: 32px;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: #ab081a;
	margin-left: -16px;
}
.red_cols_inner:before {
	left: 16.6665%;
}
.red_cols_ul {
	padding: 0 0 32px;
	margin: 0 0 70px;
	ul{
		&:after{
			content: '';
			display: block;
			clear: both;
		}
	}
}
.red_cols_ul:after {
	left: auto;
	right: 16.6665%;
	margin-left: 0;
	margin-right: -16px;
}
.red_cols_ul:before {
	left: 50%;
}
.red_cols ul li {
	float: left;
	width: 33.333%;
}
.red_cols .ico {
	height: 24px;
	margin: 0 0 24px;
}
.red_cols .ico [class^="icon-"], .red_cols .ico [class*=" icon-"] {
	font-size: 24px;
}
.red_cols .text {
	max-width: 313px;
	margin: 0 auto;
}
.red_cols .ico .icon-28 {
	font-size: 34px;
}

.stage_detail_slider .slides > li {
	position: relative;
	z-index: 1111;
}
.stage_detail_slider{
	.slides img {
		width: 100%;
		display: block;
	}
	.text {
		color: #fff;
		font-size: 48px;
		font-family: 'avenir_lt_65_mediumblack';
		line-height: 54px;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		bottom: 92px;
		left: 0;
		width: 100%;
	}
	.slick-arrow{
		overflow: hidden;
		text-indent: -9999px;
		white-space: nowrap;
		width: 72px;
		height: 100%;
		top: 0;
		bottom: auto;
		margin: 0;
		background-image: none;
		z-index: 20;
		&:before {
			-webkit-transition: all 1s cubic-bezier(.19,1,.22,1);
			transition: all 1s cubic-bezier(.19,1,.22,1);
			opacity: 1;
		}
		&:after, &:before {
			display: block;
			content: ' ';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.slick-prev {
		left: 0;

		&:before {
			background: url(../images/prev_bg.png) no-repeat 50% 50%;
		}
		&:after {
			background: url(../images/prev_arr.png) no-repeat 20px 50%;
		}
	}
	.slick-next{
		right: 0;

		&:before {
			background: url(../images/next_bg.png) no-repeat 50% 50%;
		}
		&:after {
			background: url(../images/next_arr.png) no-repeat 38px 50%;
		}
	}
	.slick-dots{
		bottom: 40px;
		li{
			display: inline-block;
			button{
				width: 20px;
				height: 20px;
				margin: 0 10px;
				background: transparent;
				border-radius: 100%;
				border: 2px solid #fff;
				-webkit-transition: all 1s cubic-bezier(.19,1,.22,1);
				transition: all 1s cubic-bezier(.19,1,.22,1);
				overflow: hidden;
				text-indent: -99999px;
				white-space: nowrap;

			}
			&.slick-active{
				button{
					background: #fff;
				}
			}
		}
	}
}