.sv_icons {
	color: #fff;
	font-size: 20px;
	font-family: $avenir_rr;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 146px;
	ul li {
		width: 210px;
		display: inline-block;
		position: relative;
		&:before {
			width: 18px;
			height: 100%;
			background: url(../images/arr_left.png) no-repeat 50% 25px;
			position: absolute;
			top: 0;
			left: -9px;
			display: block;
			content: ' ';
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
		.icon {
			width: 85px;
			height: 85px;
			border: 2px solid #fff;
			border-radius: 100%;
			margin: 0 auto 19px;
			display: block;
			&.icon_1 {
				background: url(../images/sv_1.png) no-repeat 50% 50%;
			}
			&.icon_2 {
				background: url(../images/sv_2.png) no-repeat 50% 50%;
			}
			&.icon_3 {
				background: url(../images/sv_3.png) no-repeat 50% 50%;
			}
			&.icon_4 {
				background: url(../images/sv_3.png) no-repeat 50% 50%;
			}
		}
		&.active{
			.icon{
				border-color: $red;
				background-color: $red;
			}
		}
	}
}
.pre_production.block {
	background: none;
}
.pre_production {
	color: #666;
	font-size: 18px;
	text-align: center;
	line-height: 23px;
	padding: 85px 0 134px 0;
	text-shadow: none;
	font-family: $avenir_ll;
	h2{
		color: $black;
		font-size: 70px;
		font-family: $avenir_mb;
		line-height: 70px;
		text-shadow: none;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		padding: 0 0 28px;
		margin: 0 0 23px;
	}
	.icon {
		height: 28px;
		margin: 0 0 13px;
	}
	[class^="icon-"], [class*=" icon-"]{
		color: $red;
		font-size: 25px;
	}
	.pre_production_inner {
		padding: 62px 0 0 0;
		max-width: 80%;
		margin: 0 auto;
	}
	ul li {
		display: inline-block;
		margin: 0 0 103px;
		padding: 0 46px;
		vertical-align: top;
	}
	.line_title {
		color: $red;
		font-size: 25px;
		font-family: $avenir_mb;
		line-height: 30px;
		position: relative;
		padding: 0 0 12px;
		margin: 0 0 12px;
		&:before {
			display: block;
			content: ' ';
			width: 32px;
			height: 1px;
			background: $red;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -16px;
		}
	}
}
.link_list.four_grids .landing_grids {
	h2{
		text-transform: uppercase;
	}
}