@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?ahc6i0');
  src: url('../fonts/icomoon/icomoon.eot?ahc6i0#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?ahc6i0') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?ahc6i0') format('woff'),
  url('../fonts/icomoon/icomoon.svg?ahc6i0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir_lt_35_lightlight';
  src: url('../fonts/avenir_lt_35_light-webfont.eot');
  src: url('../fonts/avenir_lt_35_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir_lt_35_light-webfont.woff2') format('woff2'),
  url('../fonts/avenir_lt_35_light-webfont.woff') format('woff'),
  url('../fonts/avenir_lt_35_light-webfont.ttf') format('truetype'),
  url('../fonts/avenir_lt_35_light-webfont.svg#avenir_lt_35_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir_lt_55_romanheavy';
  src: url('../fonts/avenir_lt_85_heavy-webfont.eot');
  src: url('../fonts/avenir_lt_85_heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir_lt_85_heavy-webfont.woff2') format('woff2'),
  url('../fonts/avenir_lt_85_heavy-webfont.woff') format('woff'),
  url('../fonts/avenir_lt_85_heavy-webfont.ttf') format('truetype'),
  url('../fonts/avenir_lt_85_heavy-webfont.svg#avenir_lt_55_romanheavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir_lt_55_romanroman';
  src: url('../fonts/avenir_lt_55_roman-webfont.eot');
  src: url('../fonts/avenir_lt_55_roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir_lt_55_roman-webfont.woff2') format('woff2'),
  url('../fonts/avenir_lt_55_roman-webfont.woff') format('woff'),
  url('../fonts/avenir_lt_55_roman-webfont.ttf') format('truetype'),
  url('../fonts/avenir_lt_55_roman-webfont.svg#avenir_lt_55_romanroman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir_lt_65_mediumblack';
  src: url('../fonts/avenir_lt_95_black-webfont.eot');
  src: url('../fonts/avenir_lt_95_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir_lt_95_black-webfont.woff2') format('woff2'),
  url('../fonts/avenir_lt_95_black-webfont.woff') format('woff'),
  url('../fonts/avenir_lt_95_black-webfont.ttf') format('truetype'),
  url('../fonts/avenir_lt_95_black-webfont.svg#avenir_lt_65_mediumblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura_lt_bookregular';
  src: url('../fonts/futuralt-book-webfont.eot');
  src: url('../fonts/futuralt-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futuralt-book-webfont.woff2') format('woff2'),
  url('../fonts/futuralt-book-webfont.woff') format('woff'),
  url('../fonts/futuralt-book-webfont.ttf') format('truetype'),
  url('../fonts/futuralt-book-webfont.svg#futura_lt_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato-bold-webfont.eot');
  src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/lato-bold-webfont.woff') format('woff'),
  url('../fonts/lato-bold-webfont.ttf') format('truetype'),
  url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-light-webfont.woff2') format('woff2'),
  url('../fonts/lato-light-webfont.woff') format('woff'),
  url('../fonts/lato-light-webfont.ttf') format('truetype'),
  url('../fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/lato-regular-webfont.woff') format('woff'),
  url('../fonts/lato-regular-webfont.ttf') format('truetype'),
  url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}