.header{
	position: relative;
	z-index: 3000;
	@include transition(all 0.3s ease-out);
	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100px;
		.filter_box{
			display: none;
		}
	}
	&.stiky{
		.red-logo{
			display: none;
		}
	}
	&.white-header{
		background: #fff;
		.livechat_btn{
			color: $red;
		}
		.white-logo{
			display: none;
		}
		.red-logo{
			display: block;
		}
		.menu_btn{
			color: $red;
		}
		.header-menu{
			display: block;
			position: relative;
		}
		.filter_box{
			display: block;
		}
	}
	&.simple-header{
		.red-logo{
			display: none;
		}
		.menu_btn{
			color: #fff;
		}
	}

}
//.admin-bar{
//	.header{
//		&.fixed{
//			top: 32px;
//		}
//	}
//}