.main_nav {
	position: fixed;
	top: 0;
	left: -99999px;
	width: 100%;
	height: 100%;
	background: #f3f3f3;
	z-index: 9999;
	@include transition(opacity 0.5s cubic-bezier(.19,1,.22,1));
	opacity: 0;
	.close_search{
		display: none;
	}
}
body.main_nav_visible .main_nav {
	left: 0;
	opacity: 1;
}
.main_nav_header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #fff;
}
.main_nav_close {
	display: block;
	position: absolute;
	top: 34px;
	right: 52px;
	.icon-59 {
		color: #b21727;
		font-size: 32px;
	}
}
.main_nav_logo {
	display: block;
	position: absolute;
	left: 47px;
	top: 20px;
	img {
		display: block;
		width: 65px;
		height: 61px;
	}
}
.main_nav_inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 100px 0 0 0;
}
.main_nav_list {
	margin: 100px 0 0 0;
	position: relative;
	&:before {
		display: block;
		content: ' ';
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 25.4%;
		background: #c8c8c8;
	}
	.left {
		width: 20.16%;
		float: left;
		ul{
			padding: 0;
			margin: 0;
			ul {
				padding-top: 8px;
				padding-bottom: 9px;
				margin-bottom: -32px;
				display: none;
				li{
					padding: 0;
					margin-bottom: 12px;
					a{
						color: #505050;
						font-size: 18px;
						font-family: $avenir_rr;
						line-height: 28px;
						display: block;
						padding: 0;
						position: relative;
					}
					&.current-menu-item a{ // Need check active class
						color: $light_red;
					}
				}
			}
			.active ul{ // Need check active class
				display: block;
			}
		}
		li{
			margin: 0;
			padding: 30px 0 0 0;
			color: #323232;
			font-size: 28px;
			font-family: $avenir_rh;
			line-height: 36px;
			text-shadow: none;
			&:first-child{
				padding-top: 0;
			}
			a{
				display: inline-block;
				position: relative;
				color: #323232;
				font-size: 28px;
				font-family: $avenir_rh;
				line-height: 36px;
				text-shadow: none;
				padding: 0;
			}
			&.has-submenu span.menu-expand{ // Need change class
				cursor: pointer;
				background: url('../images/sub-menu-arr2.png') no-repeat;
				width: 17px;
				height: 9px;
				position: relative;
				margin-left: 16px;
				top: -3px;
				display: inline-block;
			}
			&.has-submenu.open span.menu-expand{ // Need change class
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}

	.middle {
		width: 32.25%;
		float: left;
		margin: 0 0 0 15.12%;
	}
	.right {
		width: 32.25%;
		float: right;
		margin-left: 0;
	}

	span.menu-expand {
		cursor: pointer;
		background: url('../images/sub-menu-arr2.png') no-repeat;
		width: 17px;
		height: 9px;
		position: relative;
		margin-left: 16px;
		top: -3px;
		display: inline-block;
	}
	.open span.menu-expand {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	ul {
		padding: 40px 0 0 0;
		li {
			padding: 18px 0 0 0;
			a {
				color: #505050;
				font-size: 22px;
				font-family: $avenir_rr;
				line-height: 32px;
				display: block;
				padding: 9px 0 9px 80px;
				position: relative;
				[class^="icon-"],
				[class*=" icon-"]{
					color: #b21727;
					font-size: 30px;
					padding: 10px;
					border-radius: 100%;
					border: 1px solid #b21727;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			&.active,
			a:hover{
				color: $red;
				span{
					color: #fff !important;
					background: $red;
				}
			}
		}
	}
	.middle,
	.right{
		@include breakpoint(min-width 1025px){
			span.menu-expand{
				display: none;
			}
		}
		ul{
			padding-top: 0;
			li.menu-item-has-children{
				color: #ab081a;
				padding: 0;
				&.current_page_item{
					&>a{
						color: $red;
					}
				}
				&>a{
					color: #323232;
					font-size: 28px;
					font-family: $avenir_rh;
					line-height: 36px;
					text-shadow: none;
					padding: 0;
					&:hover{
						color: $red;
					}
				}
				ul{
					padding-top: 40px;
					li.current_page_item{
						a{
							color: $red;
							span{
								background: $red;
								color: #fff;
							}
						}
					}
				}
			}

		}
	}
}
.main_nav_box {
	max-width: 1240px;
	margin: 0 auto;
	text-shadow: none;
	position: relative;
}
///Search form
.search_form {
	position: relative;
	padding: 30px 0 40px 0;
	input[type="submit"] {
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		border: none;
		background: transparent;
		width: 40px;
	}
	input[type="text"] {
		width: 100%;
		font-size: 30px;
		font-family: $avenir_rr;
		line-height: 42px;
		text-shadow: none;
		padding: 20px 0;
		border: none;
		border-bottom: 1px solid #8a8a8a;
		background: transparent;
	}
	input[type="text"],
	input[type="search"]{
		@include input-placeholder{
			color: #8a8a8a;
			opacity: 1;
		}
		&:focus {
			color: $black;
		}
	}
	.icon-60 {
		color: $red;
		font-size: 40px;
		position: absolute;
		top: 24px;
		right: 0;
	}
}

// Lang switcher
.lang_switcher {
	clear: both;
	padding: 70px 0 0 0;
	@include breakpoint(max-height 899px){
		padding-top: 47px;
	}
	&,
	a{
		color: #141414;
		font-size: 16px;
		font-family: 'Microsoft Yahei', 'SimSun', Helvetica, Arial, sans-serif;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
	}
	.active,
	a:hover{
		color: $red;
	}
	ul li {
		display: inline-block;
		padding: 0 20px;
		position: relative;
		&:before {
			display: block;
			content: ' ';
			position: absolute;
			top: 50%;
			left: 0;
			width: 1px;
			height: 10px;
			background: #c8c8c8;
			margin: -5px 0 0 0;
		}
		&:first-child:before {///???
			display: none;
		}
		&.active{
			a{
				color: $red;
			}
		}
	}
}
.main_nav_list .left li, .main_nav_list .left li a{
	br{
		display: none;
	}
}
// Search form
#search-result-container{
	margin-top: 25px;
	padding-bottom: 100px;
	text-shadow: none;
	overflow: hidden;
	@include breakpoint(min-width 1025px){
		padding-top: 100px;
	}
	.loading{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url('../images/loading.gif') no-repeat center;
	}
	.scroll-wrapper{
		position: absolute !important;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	h2, h2 a{
		font-family: $avenir_rh;
		font-size: 30px;
		text-shadow: none;
		line-height: 34px;
		color: #000;
		margin-bottom: 20px;
		text-transform: none;
		i{
			font-style: normal;
			color: $red;
		}
		br{
			display: none;
		}
	}
	.short{
		font-family: $avenir_rr;
		font-size: 20px;
		color: #505050;
		line-height: 28px;
		i{
			font-style: normal;
			color: $red;
		}
	}
	.result-article{
		padding: 20px 0;
	}

}
#searchform{
	position: relative;
}
.close_search{

	color: $red;
	font-size: 24px;
	font-family: $avenir_rr;
	margin-bottom: 20px;
	display: inline-block;
	&:hover{
		color:$red;
		span{
			color:$red;
		}
	}
	.icon-7{
		display: inline-block;
		margin-right: 8px;
		position: relative;
		top: 2px;
	}
}
.search-inner{
	max-width: 1240px;
	margin: 0 auto;
	.result-article{
		@include breakpoint(max-width 1480px){
			max-width: 96%;
			margin: 0 auto;
		}
	}
}
body.search{
	background: #f3f3f3;
	//.header{
	//	height: 100px;
	//	@include breakpoint(max-width 1025px){
	//		height: 58px;
	//	}
	//
	//}
}
//.show-search-result{
//	.close_search{
//		display: inline-block;
//	}
//	.main_nav_list{
//		//visibility: hidden;
//		display: none;
//	}
//	#search-result-container{
//		display: block;
//	}
//	.lang_switcher{
//		display: none;
//	}
//}